.container{'ng-app' => 'posts'}

  %div{'ng-controller' => 'PostListController as postList'}
    %h1 Listing posts
    %h2 You have {{postList.count()}} posts
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Body
          %th Starred
          %th
          %th
          %th
      %tbody
        %tr{'ng-repeat' => 'post in postList.posts'}
          %td
            {{post.title}}
          %td
            {{post.body}}
          %td
            {{post.starred}}
          %td= link_to 'Show', '{{post.url}}'
          %td= link_to 'Edit', ''
          %td= link_to 'Destroy', ''


  %br/
  = link_to 'New Post', new_post_path